{
  "name": "{{.ContainerName}}",
  "image": "{{.Image}}",
  "remoteUser": "{{.User}}",
  "runArgs": {{json .DevcontainerArgs}},
  "overrideCommand": true,
  "workspaceFolder": "{{.WorkspaceMount}}",
  "workspaceMount": "source=${localWorkspaceFolder},target={{.WorkspaceMount}},type=bind,z"
  {{- if .SharedVolumeName }},
  "mounts": [
    {{- range $i, $path := .SharedVolumePaths}}
    {{- if $i}},{{- end}}
    "type=volume,source={{$.SharedVolumeName}},target={{$path}},subpath={{trimPrefix $path "/"}},z"
    {{- end}}
  ]
  {{- end}}
}