{
  "name": "{{.ContainerName}}",
  "image": "{{.Image}}",
  "remoteUser": "{{.User}}",
  "runArgs": {{json .DevcontainerArgs}},
  "overrideCommand": true,
  "workspaceFolder": "{{.WorkspaceMount}}",
  "workspaceMount": "source=${localWorkspaceFolder},target={{.WorkspaceMount}},type=bind,z",
  {{- if .PersistenceVolumeName }}
  "mounts": [
    {{- range $i, $path := .PersistenceSharedPaths}}
    {{- if $i}},{{- end}}
    "type=volume,source={{$.PersistenceVolumeName}},target={{$path}},subpath=shared/{{trimPrefix $path "/"}},z"
    {{- end}}
    {{- range $i, $path := .PersistencePrivatePaths}}
    {{- if or $i (len $.PersistenceSharedPaths)}},{{- end}}
    "type=volume,source={{$.PersistenceVolumeName}},target={{$path}},subpath={{$.SiloID}}/{{trimPrefix $path "/"}},z"
    {{- end}}
  ],
  {{- end}}
  "customizations": {
    "vscode": {
      "settings": {
        "terminal.integrated.defaultProfile.linux": "silo",
        "terminal.integrated.profiles.linux": {
          "silo": {
            "path": "${userHome}/.nix-profile/bin/default-shell"
          }
        }
      }
    }
  }
}
