{
  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    claude-code = {
      url = "github:sadjow/claude-code-nix";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    {
      nixpkgs,
      home-manager,
      claude-code,
      ...
    }:
    let
      vars = {
        system = "{{.System}}";
        homeStateVersion = "25.11";
        user = "{{.User}}";
      };
    in
    {
      homeConfigurations."${vars.user}" = home-manager.lib.homeManagerConfiguration {
        pkgs = import nixpkgs {
          system = vars.system;
          config.allowUnfree = true;
        };

        modules = [
          {
            nixpkgs.overlays = [ claude-code.overlays.default ];
            home = {
              stateVersion = vars.homeStateVersion;
              username = vars.user;
              homeDirectory = "/home/${vars.user}";
            };
          }
          ./modules/silo.nix
          ./modules/podman.nix
          ./home.user.nix
          ./home-workspace.nix
        ];
      };
    };
}
