#!/usr/bin/env bash
set -eu
{{- range .Entries}}
{{- if .IsDir}}
src="{{.Src}}"
dst="{{.Dst}}"
mkdir -p "$src" "$(dirname "$dst")"
if [ -L "$dst" ] || [ ! -e "$dst" ]; then
  ln -sfn "$src" "$dst"
fi
{{- else}}
src="{{.Src}}"
dst="{{.Dst}}"
mkdir -p "$(dirname "$src")" "$(dirname "$dst")"
touch "$src"
if [ -L "$dst" ] || [ ! -e "$dst" ]; then
  ln -sf "$src" "$dst"
fi
{{- end}}
{{- end}}
